body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.heading {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(0, 0, 0);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(3, 5, 3);;
}

.hour {
  background-color: #f1ec9d;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #e47f0d;
  color: white;
}

.present {
  background-color: #0077ff;
  color: white;
}

.future {
  background-color: #02ccff;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1ed506;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
